@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@1&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
html{font-family:'Noto Sans KR', 'Malgun Gothic', sans-serif !important; color:--bs-body-color;}
body{font-family:'Noto Sans KR', 'Malgun Gothic', sans-serif !important; color:--bs-body-color;}
.fixed::after{content:''; clear:both;}
a{text-decoration:none !important; color:--bs-body-color;}
li{list-style:none;}
.O_container{margin:100px 0 150px;}
/* 부트스트랩 초기화 */
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active{background:#c93535; background-color:#c93535 !important;}
/* paging 공통 */
.page-link{color:inherit;}
.page-item.active .page-link{background:#c93535; border-color:#c93535;}

/* header.jsp header 영역 */
.h_logo{font-family: 'Gelasio','Noto Sans KR', sans-serif; font-size:2.125rem !important;}

/* submenu.jsp submenu 영역 */

.submenu_title_wrap{width:100%; padding:5rem 0; background:#f2f2f2;}
.submenu_title h1{font-family: 'Gelasio','Noto Sans KR', sans-serif; margin-bottom:2rem;}
.submenu_title p{margin-bottom:0;}

.menu_wrap{width: 100%; padding-left:0; overflow: hidden;}
.menu_box {float: left; width:31%; height:480px; box-sizing: border-box; text-align:center; cursor:pointer;}
.menu_box:hover img{transform:scale(1.1);}
.menu_box:nth-child(3n+2) {margin: 0 2.33%;}
.menu_imgbox{width:100%; height:65%; overflow:hidden; position:relative;}
.menu_box img{width:100%; height:100%; object-fit:cover; object-position:center center; transition:0.3s;}
.menu_name{font-weight:700; margin-top:1.25rem;}
.menu_price{color:#c93535;}
.menu_price .fs-3{font-weight:700;}
.menu_info{position:absolute; left:0; right:0; top:100%; height:100%;
	background:rgba(0,0,0,0.75); color:rgba(255,255,255,0.6); transition:0.3s;}
.menu_info p{position:absolute; top:3.5rem; padding:0 3.5rem; line-height:1.6; text-align:left;}
.menu_info div{position:absolute; left:50%; transform:translateX(-50%); bottom:3.5rem; width:100%;}
.menu_info button{border:1px solid #fff; padding:0.25rem 1rem; margin:0 0.3rem; transition:0.3s; background:none;}
.menu_info button:hover{background:#fff;}
.menu_info button.text-white:hover{color:#212529 !important; font-weight:500;}
.menu-notice{border:1px solid #ccc; padding:2.5rem 4rem;}
.menu-notice h4 {margin-bottom:1.2rem;}
.txt {padding-left:0;}
.txt li{position:relative;}
.txt li::before{content:'';display:inline-block; width:5px; height:5px;
	background:#ccc; border-radius:100%; margin:auto 10px auto 0; vertical-align:middle;}
	
/* footer.jsp footer 영역 */

footer .sitemap ul{margin:0; text-align:center; border-bottom:1px solid rgba(255,255,255,0.1);}
footer .sitemap ul li{display:inline-block; position:relative;}
footer .sitemap ul li::after, footer .sitemap ul li:first-child::before{content:''; width:1px; position:absolute; top:50%; right:0; transform:translateY(-50%);
	background:rgba(255,255,255,0.2); height:100%;}
footer .sitemap ul li:first-child::before{right:auto; left:0;}
footer .sitemap ul li a{display:block; padding:1rem 2rem; font-size:1rem; color:rgba(255,255,255,0.5); transition:0.3s;}
footer .sitemap ul li a:hover{color:rgba(255,255,255,0.8);}
footer .sitemap ul li:nth-child(4) a::after{content:''; width:0;}
.f_logo{font-family: 'Gelasio','Noto Sans KR', sans-serif; text-align:center; opacity:0.5; width:29%; display:inline-block;}
.f_info{padding:2rem 0; color:#fff; opacity:0.25; width:70%; display:inline-block; vertical-align:middle;}


/* admin 공통 영역 */
.adm_main{height:100vh !important;}
.adm_container{padding:72px 0;}

/* admin_header 영역 */
.adm_logo{font-family: 'Gelasio','Noto Sans KR', sans-serif; font-size:1.75rem !important; margin-left:auto;}
.adm_header .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background:#c93535;}
.adm_nav_tt{vertical-align:top;}
.adm_go_home{width:100%; margin-bottom:1.25rem;}
.adm_user{text-align:center; margin-bottom:1.25rem;}


/* adm_book.jsp admj_book 영역 */
.adm_book_table{width:100%; text-align:center;}
.adm_book_table thead tr{width:100%; border-top:2px solid #ccc; border-bottom:2px solid #ccc; background:#f9f9f9;}
.adm_book_table thead th{padding:1.25rem 0;}
.adm_book_table thead th:first-child{width:3%;}
.adm_book_table thead th:nth-child(2){width:9%;}
.adm_book_table thead th:nth-child(3){width:7%;}
.adm_book_table thead th:nth-child(4){width:13%;} 
.adm_book_table thead th:nth-child(5){width:10%;} 
.adm_book_table thead th:nth-child(6){width:6%;} 
.adm_book_table thead th:nth-child(7){width:6%;} 
.adm_book_table thead th:nth-child(8){width:10%;} 
.adm_book_table thead th:nth-child(9){width:8%;} 
.adm_book_table thead th:nth-child(10){width:9%;} 
.adm_book_table thead th:nth-child(11){width:19%;}
.adm_book_table tbody tr{border-bottom:1px solid #eee; cursor:pointer;}
.adm_book_table tbody tr:nth-child(even){background:#f9f9f9;}
.adm_book_table tbody tr:hover{background:#f1f1f1;}
.adm_book_table tbody td{font-size:0.875rem; padding:1rem 0.5rem; border-left:1px solid #eee;}
.adm_book_table tbody td:first-child{border-left:0;}
.adm_book_table tbody td:nth-child(11) p{overflow:hidden; text-overflow: ellipsis; display:-webkit-box;
	-webkit-line-clamp:1; -webkit-box-orient:vertical; margin-bottom:0; text-align:left;}
.adm_comment{text-align:right; opacity:0.5; font-size:0.875rem;}

.adm_paging .pagination{margin-top:2rem; justify-content:center;}
.adm_paging .page-link{color:inherit;}
.adm_paging .page-item.active .page-link{background:#c93535; border-color:#c93535;}

