@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@1&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
html{font-family:'Noto Sans KR', 'Malgun Gothic', sans-serif !important; color:--bs-body-color;}
body{font-family:'Noto Sans KR', 'Malgun Gothic', sans-serif !important; color:--bs-body-color;}
.fixed::after{content:''; clear:both;}
a{text-decoration:none !important; color:--bs-body-color;}
li{list-style:none;}
.O_container{margin:100px 0 150px;}
/* 부트스트랩 초기화 */
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active{background:#c93535; background-color:#c93535 !important;}
.btn-outline-danger{color:#c93535 !important; border-color:#c93535 !important;}
.btn-outline-danger:hover {color: #fff !important; background-color: #c93535 !important; border-color: #c93535 !important; }
/* paging 공통 */
.page-link{color:inherit;}
.page-item.active .page-link{background:#c93535; border-color:#c93535;}

/* header.jsp header 영역 */
.h_logo{font-family: 'Gelasio','Noto Sans KR', sans-serif; font-size:2.125rem !important;}
#cart1{cursor:pointer;}
/* home.jsp 영역 */
.carousel-indicators{bottom:30px !important;}
.carousel-inner{overflow:hidden;margin:0 auto;position:relative;width:100%;}
.carousel-item{overflow:hidden;position:relative;height:850px;}
.carousel-item > img{width:100%;min-width:1920px;position:absolute;left:50%;top:50%;
	transform:translate(-50%,-50%);}
.carousel-caption{bottom:6rem !important; left:auto !important;}
.main_section{margin:10rem auto;}
.main_section1{background:#212529; padding:10rem 0; color:#fff; overflow:hidden;}
.main_section h3, .main_section1 h3{text-align:center; padding-bottom:2rem; position:relative;
	font-size:2.125rem; font-weight:700;}
/* .main_section h3::after{content:''; position:absolute;left:0; bottom:0; right:0; display:block; */
/* 	height:1px; width:100%; background:#212529; opacity:0.5;} */
/* 신메뉴 영역 */
/* .slide-box{overflow:hidden;} */
.new_menu_slide{padding:1rem 2rem 3rem;}
.slick-dotted.slick-slider{margin:0;}
.new_menu_slide .slide-contents{padding:0 0 1.25rem; background:#fff; color:#212529; transform:scale(0.93);
	box-shadow:1px 6px 5px 3px rgba(0,0,0,0.5);}
.new_menu_slide .slide-contents.slick-center{transform:scaleX(0.93) scaleY(1.02); color:#c93535; overflow:hidden;}
.slide-contents h5{text-align:center; margin:1.25rem 0 0.5rem; font-weight:700; font-size:1.375rem; transition:0.3s;}
.slick-center.slide-contents h5{font-size:1.5rem; transform:scaleX(1.1);}
.newmenu_img{height:370px; background:#585858; overflow:hidden; transition:0.3s;}
.newmenu_img img{width:100%; height:100%; object-fit:cover; object-position:center center; transition:0.3s;
	mix-blend-mode:overlay; opacity:0.8;}
.slide-contents.slick-center .newmenu_img img{transform:scaleX(1.1); mix-blend-mode:normal; opacity:1;}
/* .slick-list{padding:1rem 0 !important;} */
/* scroll Top 영역*/
.scrollTop{position:fixed; z-index:9999; bottom:9%; right:4%; color:#fff; width:3rem; opacity:0.6; cursor:pointer; transition:0.3s;}
.scrollTop:hover{opacity:1;}
.scrollTop svg{width:100%; height:100%;}
/* submenu.jsp submenu 영역 */

.submenu_title_wrap{width:100%; padding:5rem 0; background:#f2f2f2;}
.submenu_title h1{font-family: 'Gelasio','Noto Sans KR', sans-serif; margin-bottom:2rem;}
.submenu_title p{margin-bottom:0;}

.menu_wrap{width: 100%; padding-left:0; overflow: hidden;}
.menu_box {float: left; width:31%; height:480px; box-sizing: border-box; text-align:center; cursor:pointer;}
.menu_box:hover img{transform:scale(1.1);}
.menu_box:nth-child(3n+2) {margin: 0 2.33%;}
.menu_imgbox{width:100%; height:65%; overflow:hidden; position:relative;}
.menu_box img{width:100%; height:100%; object-fit:cover; object-position:center center; transition:0.3s;}
.menu_name{font-weight:700; margin-top:1.25rem;}
.menu_price{color:#c93535;}
.menu_price .fs-3{font-weight:700;}
.menu_info{position:absolute; left:0; right:0; top:100%; height:100%;
	background:rgba(0,0,0,0.75); color:rgba(255,255,255,0.6); transition:0.3s;}
.menu_info p{position:absolute; top:3.5rem; padding:0 3.5rem; line-height:1.6; text-align:left;}
.menu_info div{position:absolute; left:50%; transform:translateX(-50%); bottom:3.5rem; width:100%;}
.menu_info button{border:1px solid #fff; padding:0.25rem 1rem; margin:0 0.3rem; transition:0.3s; background:none;}
.menu_info button:hover{background:#fff;}
.menu_info button.text-white:hover{color:#212529 !important; font-weight:500;}
.menu-notice{border:1px solid #ccc; padding:2.5rem 4rem;}
.menu-notice h4 {margin-bottom:1.2rem;}
.txt {padding-left:0;}
.txt li{position:relative;}
.txt li::before{content:'';display:inline-block; width:5px; height:5px;
	background:#ccc; border-radius:100%; margin:auto 10px auto 0; vertical-align:middle;}
	
/* footer.jsp footer 영역 */
.O_footer{border-top:1px solid #555;}
.O_footer > .container {display:flex;}
footer .sitemap ul{margin:0; text-align:center; border-bottom:1px solid rgba(255,255,255,0.1);}
footer .sitemap ul li{display:inline-block; position:relative;}
footer .sitemap ul li::after, footer .sitemap ul li:first-child::before{content:''; width:1px; position:absolute; top:50%; right:0; transform:translateY(-50%);
	background:rgba(255,255,255,0.2); height:100%;}
footer .sitemap ul li:first-child::before{right:auto; left:0;}
footer .sitemap ul li a{display:block; padding:1rem 2rem; font-size:1rem; color:rgba(255,255,255,0.5); transition:0.3s;}
footer .sitemap ul li a:hover{color:rgba(255,255,255,0.8);}
footer .sitemap ul li:nth-child(4) a::after{content:''; width:0;}
.f_logo{font-family: 'Gelasio','Noto Sans KR', sans-serif; text-align:center; opacity:0.5; width:20%; padding:4rem 0;
	display:block; margin:auto 0;}
.f_info{padding:4rem 0; color:#fff; opacity:0.25; width:80%; display:block;}
.f_info p{margin:0;}

/* admin 공통 영역 */
.adm_container_wrap{width:100%;overflow-y:auto;}
.adm_main{height:100vh !important;}
.adm_container{padding:72px 0; min-width:1200px;}

/* admin_header 영역 */
.adm_logo{font-family: 'Gelasio','Noto Sans KR', sans-serif; font-size:1.75rem !important; margin-left:auto;}
.adm_header .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background:#c93535;}
.adm_nav_tt{vertical-align:top;}
.adm_go_home{width:100%; margin-bottom:1.25rem;}
.adm_user{text-align:center; margin-bottom:1.25rem;}


/* adm_book.jsp admj_book 영역 */
.adm_book_table, .adm_member_table, .bd_table,.covid_table, .mybook_table{width:100%; text-align:center;}
.adm_book_table thead tr,.covid_table thead tr,.adm_member_table thead tr, .bd_table thead tr, .mybook_table thead tr{
	width:100%; border-top:2px solid #ccc; border-bottom:2px solid #ccc; background:#f9f9f9;
}
.adm_book_table thead th, .adm_member_table thead th, .mybook_table thead th, .covid_table thead th,
.adm_book_table tfoot td, .adm_member_table tfoot td, .mybook_table tfoot td,.covid_table tfoot td{
	padding:1.25rem 0;
}
.adm_book_table thead th:first-child{width:3%;}
.adm_book_table thead th:nth-child(2){width:9%;}
.adm_book_table thead th:nth-child(3){width:7%;}
.adm_book_table thead th:nth-child(4){width:13%;}
.adm_book_table thead th:nth-child(5){width:10%;}
.adm_book_table thead th:nth-child(6){width:6%;}
.adm_book_table thead th:nth-child(7){width:6%;}
.adm_book_table thead th:nth-child(8){width:10%;}
.adm_book_table thead th:nth-child(9){width:8%;}
.adm_book_table thead th:nth-child(10){width:9%;}
.adm_book_table thead th:nth-child(11){width:19%;}
.adm_book_table tbody tr, .adm_member_table tbody tr, .mybook_table tbody tr{
	border-bottom:1px solid #eee; cursor:pointer;
}
.adm_member_table tbody tr{
	cursor:default;
}
.adm_book_table tbody tr:nth-child(even),.adm_member_table tbody tr:nth-child(even),
.mybook_table tbody tr:nth-child(even),.covid_table tbody tr:nth-child(even){
	background:#f9f9f9;
}
.adm_book_table tbody tr:hover, .mybook_table tbody tr:hover{background:#f1f1f1;}
.adm_book_table tbody td, .adm_member_table tbody td, .mybook_table tbody td
,.covid_table tbody td{
	font-size:0.875rem; padding:1rem 0.5rem; border-left:1px solid #eee; transition:0.3s;
}
.adm_book_table tbody td:first-child, .bd_table tbody td:first-child, .adm_member_table tbody td:first-child, 
.mybook_table tbody td:first-child, #ctbody td:first-child{
	border-left:0;
}
#ctbody td{font-size:1rem;}
#ctbody{border-bottom:2px solid #ccc}
.adm_book_table tbody td:nth-child(11) p, .mybook_table tbody td:last-child p{overflow:hidden;
	text-overflow: ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical;
	margin-bottom:0; text-align:left;
}
.adm_comment, .mybook_comment{text-align:right; opacity:0.5; font-size:0.875rem;}

.adm_paging .pagination{justify-content:center;}
.adm_paging .page-link{color:inherit;}
.adm_paging .page-item.active .page-link{background:#c93535; border-color:#c93535;}
/*adm_menuadd.jsp 영역*/
/*adm_member.jsp 영역*/
.adm_member_table thead th:first-child{width:5%;}
.adm_member_table thead th:nth-child(2){width:15%;}
.adm_member_table thead th:nth-child(3){width:10%;}
.adm_member_table thead th:nth-child(4){width:15%;}
.adm_member_table thead th:nth-child(5){width:10%;}
.adm_member_table thead th:nth-child(6){width:5%;}
.adm_member_table thead th:nth-child(7){width:5%;}
.adm_member_table thead th:nth-child(8){width:15%;}
.adm_member_table thead th:nth-child(9){width:15%;}
.adm_member_table thead th:nth-child(10){width:5%;}

/*covid_check 영역*/
.covid_table thead th:first-child{width:16%;}
.covid_table thead th:nth-child(2){width:16%;}
.covid_table thead th:nth-child(3){width:16%;}
.covid_table thead th:nth-child(4){width:16%;}
.covid_table thead th:nth-child(5){width:16%;}
.covid_table thead th:nth-child(6){width:16%;}

/* adm_member.jsp 영역 */
#btnEdit{padding:0.375rem 0.575rem;}
/* booking detail modal */
/* .modal.show .modal-dialog{top:50%; transform:translateY(-50%);} */
.bd_table thead th{padding:0.75rem 0;}
.bd_table tbody tr{border-bottom:1px solid #eee;}
.bd_table tbody td{padding:1rem 0.5rem; border-left:1px solid #eee;}
.book_msg p{border:1px solid #ccc; border-radius:5px; padding:1.25rem;}
.bd_table thead th:first-child{width:40%;}
.bd_table thead th:nth-child(2){width:10%;}
.bd_table thead th:nth-child(3){width:25%;}
.bd_table thead th:nth-child(4){width:25%;}
/*mybook.jsp 영역*/
.mybook_table thead th:first-child{width:10%;}
.mybook_table thead th:nth-child(2){width:10%;}
.mybook_table thead th:nth-child(3){width:10%;}
.mybook_table thead th:nth-child(4){width:10%;}
.mybook_table thead th:nth-child(5){width:10%;}
.mybook_table thead th:nth-child(6){width:10%;}
.mybook_table thead th:nth-child(7){width:10%;}
.mybook_table thead th:nth-child(8){width:30%;}
.mybook_table tbody td{font-size:1rem;}
/* passEdit.jsp */
.editWrap{width:500px; margin:0 auto;}
@media (max-width: 950px){
	.new_menu_slide{
		padding:1rem 0 3rem;
	}
}
@media (max-width: 991px){
	.O_footer > .container{display:block;}
	.f_logo{width:100%; padding:2rem 0;}
	.f_info{width:100%; padding:0 0 2rem;}
	
}
@media (max-width: 768px){
	.menu_box{width:100%;}
	.mybook_table thead th:nth-child(8){display:none;}
	.mybook_table tbody td:nth-child(8){display:none;}
	.editWrap{width:300px;}
}
@media (max-width: 375px){
	.covid_table thead th:first-child, .board_table thead th:first-child, .mybook_table thead th:first-child{display:none;}
	.covid_table tbody td:first-child, .board_table tbody td:first-child, .mybook_table tbody td:first-child{display:none;}
	.board_table thead th:last-child, .board_table tbody td:last-child{display:none;}
	.menu-notice{padding:2.5rem 2rem;}
	.txt li{margin-bottom:1rem;}
	.editWrap{width:300px;}
}
